*{
   margin: 0px;
   text-align: center;
   text-decoration: underline black;
}
div{
   display: inline-block; 
}
.main{
   display: flex;
   flex-direction: row;
}
#nav{
   height: 100vh;
   width: 20vw;
   background-color: rgb(100, 110, 84);
}
#rest{
   display: flex;
   flex-direction: column;
}
#h{
   height: 20vh;
   width: 80vw;
   background-color: #67d63b;
}
#a{
   height: 60vh;
   width: 80vw;
   background-color: white;
}
#f{
   height: 20vh;
   width: 80vw;
   background-color: #67d63b;
}